body {
    font-family: "Times New Roman", Times, serif;
    line-height: 1.1;
}

.header {
    display: flex;
    justify-content: center;
    gap: 25rem;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}

.header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.nav-button {
    text-decoration: none;
    color: black;
    padding: 8px;
    display: flex;
}

.nav-button.active {
    background-color: green;
    color: white;
}

.nav-button:hover {
    background-color: orange;
}
